@import "//at.alicdn.com/t/font_966707_zxs5kd26hr.css";

html, body {
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body, div, object, iframe, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, address, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, progress {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline
}

li {
  list-style: none
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block
}

audio, canvas, progress, video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden], template {
  display: none
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  cursor: pointer
}

a:active, a:hover {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b, strong {
  font-weight: bold
}

dfn {
  font-style: italic
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

mark {
  background: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -0.5em
}

sub {
  bottom: -0.25em
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

figure {
  margin: 1em 40px
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0
}

pre {
  overflow: auto
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  outline: none;
  line-height: normal;
}

button {
  overflow: visible
}

button, select {
  text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled], html input[disabled] {
  cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input {
  line-height: normal
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto;
  border: 0;
}

optgroup {
  font-weight: bold
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td, th {
  padding: 0
}

body {
  background: #F2F2F7;
}

.el-tooltip:focus:not(.focusing), .el-tooltip:focus:hover, .el-tooltip:link {
  outline: 0 !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

/*修改we-vue样式*/
.weui-dialog__bd {
  color: #888888 !important;
  font-size: 16px;
}

.weui-dialog__btn_primary {
  color: #F08D00 !important;
}

.wv-switch.wv-switch-on {
  border-color: #F08D00 !important;
  background-color: #F08D00 !important;
}

.xiniao_switch {
  padding-top: 6.5px;
  padding-bottom: 6.5px;
}

.weui-cells_radio .weui-check:checked + .weui-icon-checked:before, .weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before {
  color: #F08D00 !important;
}

.loading-tips {
  text-align: center;
}

/* footer-button 里面放一个按钮或者两个按钮 */
.footer-button {
  position: fixed;
  bottom: 0;
  height: 46px;
  padding: 12px;
  left: 0;
  right: 0;
  z-index: 111;
  background: #F2F2F7;
}

/*两个按钮  行内*/
.xi-btn-inline .weui-btn {
  display: inline-block;
  width: 49%;
  margin-top: 0 !important;
}

/*上下两个btn外层class样式*/
.footer-botton-inherit {
  margin-top: 72px;
  padding: 12px;
}

/*上下两个按钮的取消样式*/
.footer-botton-inherit .cancel-btn {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #F08D00;
  line-height: 24px;
  margin-top: 20px;
  cursor: pointer;
}

/* footer-button 里面放一个按钮或者两个按钮 end */
/*页面距离底部距离*/
.content-top {
  width: 100%;
  height: 100%;
}

.content-top-main-box {
  height: inherit;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 76px;
  overflow-y: auto;
  box-sizing: border-box;
}

/*页面距离底部没有padding */
.content-top-padding {
  padding-bottom: 0;
}

/*页面距离底部没有padding end*/
.content-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 111;
  height: 49px;
  padding: 0 15px;
  line-height: 49px;
  background: #fff;
  box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.25);
}

/*搜索定位在页面*/
.x-search-list {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 150;
  background: #F2F2F7;
}

.x-search-list .weui-search-bar__cancel-btn {
  color: #F08D00;
}

.x-search-list .x-search-result-list {
  position: absolute;
  top: 47px;
  right: 0;
  left: 0;
  bottom: 49px;
  z-index: 150;
  overflow-y: auto;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}

.x-search-list .weui-icon-clear {
  display: none;
}

.x-search-list .weui-cells {
  margin-top: 0;
}

.weui-search-bar {
  background: #f2f2f7 !important;
}

.weui-search-bar:after {
  border: 0 !important;
}

/*搜索底部取消和确定*/
.x-search-footer {
  padding: 0 12px;
  height: 49px;
  line-height: 49px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 150;
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  color: #909090;
  box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.25);
}

.x-search-footer span:nth-child(2) {
  float: right;
  color: #F08D00;
}

.weui-search-bar__box .weui-search-bar__input {
  padding: 6px 0 !important;
}

.weui-search-bar__label {
  top: 2px !important;
}

/*搜索定位在页面 end*/
.weui-btn_primary {
  background: #F08D00 !important;
}

.weui-btn_default {
  color: #606060 !important;
}

/*常用字体颜色*/
.c-f-primary {
  color: #F08D00 !important;
}

.c-f-title {
  color: #222 !important;
}

.c-f-main {
  color: #606060 !important;
}

.c-f-second {
  color: #909090 !important;
}

.c-f-green {
  color: #52c41a !important;
}

.c-f-danger {
  color: #f5222d !important;
}

.c-f-danger-sm {
  color: #D34C53 !important;
}

/*颜色值*/
.color-TOEFL {
  color: #ED8182;
}

.color-IELTS {
  color: #9C82F1;
}

.color-SAT {
  color: #92C4E9;
}

.color-ACT {
  color: #42DA6E;
}

.color-SSAT {
  color: #6FBAFF;
}

.color-TOEFLPRIMARY {
  color: #FDADAD;
}

.color-BANDFOUR, .color-BANDSIX {
  color: #5DE7B7;
}

.color-COLLEGE {
  color: #E5BB91;
}

.color-POSTGRADUATE {
  color: #528178;
}

/*wv-nav的高度*/
.wv-navbar__item {
  padding: 11px 0 7px !important;
  font-size: 14px !important;
  line-height: 22px;
}

/* input wv-cell颜色色值 */
#app .weui-label, #app .weui-input, #app .weui-cell__bd, #app .weui-cell__ft {
  color: #606060 !important;
  cursor: pointer;
}

/*picker的确定按钮*/
#app .weui-picker__action {
  color: #F08D00;
}

#app .weui-picker__action:first-child {
  color: #909090;
}

/* pointer */
#app .wv-navbar__item {
  cursor: pointer;
}

/* 公用页面结构样式  钉钉页面 有固定底部(76px)或者固定头部(36px),中间内容滚动的 都可以  */
.xi-container {
  width: 100%;
  height: 100%;
}

.xi-fixed-top, .xi-fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
}

.xi-fixed-top {
  top: 0;
  z-index: 120;
}

.xi-fixed-bottom {
  bottom: 0;
  z-index: 110;
  height: 49px;
  padding: 0 15px;
  line-height: 49px;
  background: #fff;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.25);
  font-size: 14px;
  color: #606060;
}

.xi-fixed-bottom i {
  font-size: 24px !important;
  color: #262626;
  display: inline-block;
  vertical-align: top;
}

.xi-wrap-page {
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  box-sizing: border-box;
  height: inherit;
}

.xi-top-fixed-gap {
  padding-top: 36px;
}

.xi-bottom-fixed-gap {
  padding-bottom: 50px;
}

.ziyue-page-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

/* 公用页面结构样式 */

/* 公用的wv-cell样式  */
.xn-cell .weui-cell__bd {
  width: 105px;
  flex: none;
  -webkit-flex: none;
  color: #606060;
}

.xn-cell .weui-cell__ft {
  flex: 1;
  -webkit-flex: 1;
  text-align: left;
  color: #606060;
}

/*没有选择的灰色*/
#app .unselected .weui-cell__ft {
  color: #c0c0c0 !important;
}

/*pleaseholder颜色*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #c0c0c0;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #c0c0c0;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #c0c0c0;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c0c0c0;
}

/* 公用的wv-cell样式 */
.weui-toast {
  max-width: 300px !important;
}

/*el-tabs  begin */
.xi-el-tabs {
  font-size: 14px;
}

.xi-el-tabs .el-tabs__header {
  margin: 0;
}

.xi-el-tabs .el-tabs__item {
  font-weight: normal;
}

.xi-el-tabs .el-tabs__nav-wrap::after {
  height: 0;
}

/*el-tabs  end  */

.el-table thead th {
  background-color: #FAFAFA;
  font-size: 14px;
  color: #222;
}

/* el-table-filter  begin  */
.el-table-filter__bottom {
  text-align: center;
}

/*el-table-filter   end */
/*el-popover  begin 作业中用到了 */
.el-popover .el-popover__title {
  border-left: 8px solid #F08D00 !important;
  padding-left: 10px !important;
}

/*el-popover  end*/

/*面包屑导航*/
.ziyue-breadcrumb {
  position: fixed;
  top: 22px;
  left: 264px;
  z-index: 1000;
  font-size: 14px;
  line-height: 1.57;
  color: #909090;
}

.ziyue-breadcrumb .active {
  color: #c099ff;
}

.ziyue-breadcrumb span {
  margin: 0 32px;
}

.ziyue-breadcrumb .current-breadcrumb {
  color: #606060;
}

/*头部*/
.common-header {
  background: #fff;
  position: relative;
}

.common-header .common-title {
  font-size: 20px;
  line-height: 60px;
  color: #212121;
  font-weight: 400;
}

.common-content {
  margin: 24px;
  background: #fff;
}

/*微信页面公共背景颜色*/
.wechat-content {
  background: #f5f6f7;
  width: 100%;
}

/*微信页面作业公共背景颜色*/
.wechat-content-homework {
  background: #fff;
  width: 100%;
}

/*孔子背景图*/
.course-soldout-bg {
  width: 175px;
  height: 240px;
  position: fixed;
  bottom: 55px;
  right: 0;
  background: url(//ziyue-xn.oss-cn-beijing.aliyuncs.com/common/fuzi_groung.png) top right no-repeat transparent;
  background-size: 175px 240px;
}

/*flex公共样式*/
.ziyue-flex {
  display: flex;
  align-content: center;
  align-items: center;
}

.ziyue-flex-item {
  flex: 1;
}

/*flex公共样式 end */

/*模拟微信语音聊天*/
.ziyue-arrow {
  position: relative;
  background: #46A3FA;
  border: 1px solid #46A3FA;
  padding: 10px;
  width: inherit;
  height: 26px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  color: #fff;
}

.ziyue-arrow::after,
.ziyue-arrow::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  pointer-events: none;
  border: solid transparent;
}

/*left*/
.ziyue-arrow.arrow-left::after,
.ziyue-arrow.arrow-left::before {
  right: 100%;
}

.ziyue-arrow.arrow-left::after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #46A3FA;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}

.ziyue-arrow.arrow-left::before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #46A3FA;
  border-width: 11px;
  top: 50%;
  margin-top: -12px;
}

/*right*/
.ziyue-arrow.arrow-right::after,
.ziyue-arrow.arrow-right::before {
  left: 100%;
}

.ziyue-arrow.arrow-right::after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #46A3FA;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}

.ziyue-arrow.arrow-right::before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #46A3FA;
  border-width: 11px;
  top: 50%;
  margin-top: -11px;
}

/*模拟微信语音聊天 end */

/*表单验证通过边框颜色不改变*/
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-textarea__inner {
  border-color: #dcdfe6 !important;
}

/*footer*/
.library-footer {
  position: fixed;
  bottom: 0;
  left: 240px;
  right: 0;
  background: #fff;
  text-align: right;
  padding: 12px 24px 12px 0 !important;
}

/*子曰年级标签颜色*/
.ziyue-GRADE_OTHER {
  background: #606060 !important;
}

.ziyue-GRADE_ONE {
  background: #EB612A !important;
}

.ziyue-GRADE_TWO {
  background: #CA4148 !important;
}

.ziyue-GRADE_THREE {
  background: #8A2730 !important;
}

.ziyue-GRADE_FOUR {
  background: #019393 !important;
}
.ziyue-GRADE_FOUR_FIVE{
  background: #f08d00 !important;
}
.ziyue-GRADE_FIVE {
  background: #3A82C5 !important;
}

.ziyue-GRADE_SIX {
  background: #004982 !important;
}
/*春季班*/
.ziyue-COURSE_SPRING {
  background: #EB6D6C !important;
}
/*暑假班*/
.ziyue-COURSE_SUMMER {
  background: #36B497 !important;
}
/*秋季班*/
.ziyue-COURSE_AUTUMN {
  background: #F4A246 !important;
}
/*寒假班*/
.ziyue-COURSE_WINTER {
  background: #76AEDD !important;
}
/*体验课*/
.ziyue-COURSE_EXPERIENCE {
  background: #76AEDD !important;
}


/*去除type=number的输入框后面的上下箭头  ziyue-ipt-price 是input[type=number]的父容器的class*/
.ziyue-ipt-price input::-webkit-outer-spin-button,
.ziyue-ipt-price input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.ziyue-ipt-price input[type="number"] {
  -moz-appearance: textfield!important;
}
