.remind-lesson{
  border-top:1px solid #e8e8e8;
}
.remind-title {
  height: 48px;
  padding: 0 16px;
  background: #fff;
  color: #262626;
  font-size: 16px;
  line-height: 48px;
}
.remind-title .remind-date{
  color:#C0C0C0;
  float:right;
}
.notice-lesson-block {
  position: relative;
  padding: 16px;
  background: #fff;
  margin-top: 12px;
}
.notice-lesson-block h3{
  font-size:24px;
  color:#F08D00;
  font-weight:400;
}
.notice-lesson-block h5{
  font-size:16px;
  font-weight:500;
  margin-top:12px;
}
.notice-lesson-block p {
  font-size: 14px;
  margin-top: 8px;
}
.notice-lesson-block p span:first-child{
  margin-right:28px;
  color:#C0C0C0;
}
.notice-lesson-block p:last-child{
  margin-top:4px;
}
.notice-lesson-block .remind-lessontype{
  position:absolute;
  top:16px;
  right:16px;
  color:rgba(113,74,238,0.24);
}
.remind-lesson .remind-tip{
  padding:8px 16px;
  font-size:14px;
  color: #c0c0c0;
}
.remind-lesson .confrim-btn{
  position:fixed;
  height:48px;
  line-height: 48px;
  text-align: center;
  bottom:0;
  left:0;
  right:0;
  background:#F08D00;
  color:#fff;
}
.remind-lesson .confrim-btn-flag{
  background:#D2C8F3;
}
.notice-going-class {
  margin-top: 0;
  padding-bottom: 0;
}
.teacher-head-class{
  padding-bottom: 0;
}
.notice-lesson-block .remind-date{
  color:#D9D9D9;
  font-size:24px;
}
.notice-lesson-block .class-tip{
  margin-top:15px;
  padding:12px 0;
  border-top:1px solid #F1F0F5;
  color:#C6B7F8;
  font-size:14px;
  display:block;
}
.notice-lesson-block .head-tip{
  color:#c0c0c0;
}
.notice-lesson-block .head-tip span:first-child{
  color:#F08D00;
  margin-right:10px;
}
.notice-lesson-block .head-tip .right-arrow{
  display:inline-block;
  margin-top:6px;
  margin-right:3px;
  float:right;
  width:8px;
  height:8px;
  border-top:1px solid #c0c0c0;
  border-right:1px solid #c0c0c0;
  transform: rotate(45deg);
}

#app .notice-lesson-list .weui-cell__bd p{
  color:#262626!important;
}
#app .notice-lesson-list .weui-cells__title{
  color:#C0C0C0!important;
}
#app .notice-lesson-list .color-red{
  color:#F5222D!important;
}
#app .notice-lesson-list .color-grey{
  color:#D9D9D9!important;
}
#app .notice-lesson-list .color-purple{
  color:#F08D00!important;
}


