/*年级tag*/
*[class^='ziyue-grade']{
  display: inline-block;
  width:24px;
  height:24px;
  border-radius: 4px;
  font-size:14px;
  font-weight:400;
  color:#FFFFFF;
  line-height:24px;
  text-align: center;
  background:#EB612A;
}
.ziyue-grade-one{
  background:#EB612A;
}
.ziyue-grade-two{
  background:#CA4148;
}
.ziyue-grade-three{
  background:#8A2730;
}
.ziyue-grade-four{
  background:#019393;
}
.ziyue-grade-five{
  background:#3A82C5;
}
.ziyue-grade-six{
  background:#01467C;
}
